@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent-color: #fb4566;
  --accent-secondary-color: #FFA26B;
}

@font-face {
  font-family: 'Mango'; /* Name of the font */
  src: url('/fonts/MangoGrotesque-Regular.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify the weight */
  font-style: normal;  /* Optional: Specify the style */
}

@font-face {
  font-family: 'Rajdhani'; /* Name of the font */
  src: url('/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify the weight */
  font-style: normal;  /* Optional: Specify the style */
}

@font-face {
  font-family: 'Rajdhani'; /* Name of the font */
  src: url('/fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: 600; /* Optional: Specify the weight */
  font-style: normal;  /* Optional: Specify the style */
}

@font-face {
  font-family: 'Rajdhani'; /* Name of the font */
  src: url('/fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: 700; /* Optional: Specify the weight */
  font-style: normal;  /* Optional: Specify the style */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", Arial, Helvetica, sans-serif;
}

html, body{
  font-family: 'Roboto', sans-serif;
  line-height: 0.9;
  background-color: #111;
  color: #fff;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}


