
#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #fb4566; 
    --gradient-color-2: #fb4566; 
    --gradient-color-3: #ffa26b;  
    --gradient-color-4: #ffa26b;
}

.mask-paragraph{
    position: absolute;
    top: 0;
    mask-image: url("/mask-circle.svg");
    background: var(--accent-color);
    mask-repeat: no-repeat;
    mask-position: 0%;
    mask-size: 40px;
    color: black;
}