
.link-dot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    text-decoration: none;
}
  
.link-dot-btn .link-dot{
    display: inline-block;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background: var(--accent-color);
    color: #fff;
    position: relative;
    transform: rotate(45deg) scale(1);
    transition: all 0.3s;
}

.link-dot-btn:hover > .link-dot{
    transform: rotate(45deg) scale(3);
}

.link-dot .link-dot-arrow{
    background: url("/arrow-upward.svg") no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.link-dot-btn:hover > .link-dot .link-dot-arrow{
    animation: ArrowIn 0.3s forwards;
}

.link-dot-btn:not(:hover) > .link-dot .link-dot-arrow{
    animation: ArrowOut 0.2s forwards;
}

.link-dot-btn .link-dot-text{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.3rem;
    font-weight: thin;
    overflow: hidden;
}

.link-dot-btn .link-dot-text .hidden-text{
    visibility: hidden;
    pointer-events: none;
}

.link-dot-btn .link-dot-text .text-1,
.link-dot-btn .link-dot-text .text-2{
    position: absolute;
    top: 0%;
    text-wrap: nowrap;
    transition: color 0s cubic-bezier(0.16, 1, 0.3, 1), top 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    pointer-events: none;
}

.link-dot-btn .link-dot-text .text-2{
    top: 100%;
}

.link-dot-btn:hover .link-dot-text .text-1{
    animation: TextSlideStart 0.6s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.link-dot-btn:hover .link-dot-text .text-2{
    animation: Text2SlideStart 0.6s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.link-dot-btn:not(:hover) .link-dot-text .text-1{
    animation: TextSlideEnd 0.6s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.link-dot-btn:not(:hover) .link-dot-text .text-2{
    animation: Text2SlideEnd 0.6s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes TextSlideStart {
    0%{
        top: 0%;
    }
    99%{
        top: -100%;
    }
    100%{
        top: 0%;
        color: var(--accent-color);
    }
}

@keyframes Text2SlideStart {
    0%{
        top: 100%;
        color: var(--accent-color);
    }
    99%{
        top: 0%;
        color: var(--accent-color);
    }
    100%{
        top: 100%;
        color: #fff;
    }
}

@keyframes TextSlideEnd {
    0%{
        top: 0%;
        color: var(--accent-color);
    }
    99%{
        top: -100%;
    }
    100%{
        top: 0%;
        color: #fff;
    }
}

@keyframes Text2SlideEnd {
    0%{
        top: 100%;
        color: #fff;
    }
    99%{
        top: 0%;
        color: #fff;
    }
    100%{
        top: 100%;
        color: var(--accent-color);
    }
}

@keyframes ArrowIn {
    0%{
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes ArrowOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    90%{
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100%{
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}